@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
.about-banners{
	background: url(../images/banner1.png);
	height:130vh;
	width:100%;
	background-size:cover;
	overflow:hidden;
	position:relative;
}
.about-banners .waves{
	position:absolute;
	bottom:0;
	width:100%;
	left:0;
}
.navbar nav{
	width:100%;
	height:90px;
	background-color:none;
	line-height:90px;
}
.navbar .logo{
	width:13%;
	margin-left:10%;
	margin-top:20px;
}
.navbar nav ul{
	float:right;
	margin-right:10%;
}
.navbar nav ul li{
	list-style-type:none;
	display:inline-block;
}
.navbar nav ul li a{
	text-decoration:none;
	color:#fff;
	padding:10px;
	font-weight:bold;
}
#nav-toggle{
	position:absolute;
	top:-100px;
}
.navbar nav .icon-burger{
	display:none;
	position: absolute;
	right:5%;
	top:4%;
	transform:translateY(-50%);
}
.navbar nav .icon-burger .line{
	width:25px;
	height:3px;
	background-color:#fff;
	margin:5px;
	border-radius:3px;
	transition: all .5s ease-in-out
}

.banner-text .main-header{
	font-family: 'Playfair Display', serif;
	font-style:italic;
	color:#fff;
	font-size:42px;
	margin-left:10%;
	margin-top:17%;
}
.shape2{
	width:6%;
	height: 300px;
	float:right;
	margin-top:15%;
}
.shape1{
	width:11%;
	margin-left:13%;
	margin-top:18%;

}
.container{
	width:100%;
	height:430px;
	background-color:#B0CB1F
}
.container .content{
	text-align: justify;
}
.container .content .h1{
	font-family: 'Playfair Display', serif;
	margin-left:10%;
	color:#fff;
	font-weight:bold;
	font-size:44px;
	letter-spacing:2px;
}
.container .content .p{
	margin-left:10%;
	margin-right:10%;
	color:#fff;
	line-height:24px;
	font-size:17.7px;
}
.fa.fa-quote-left{
	color:#005392;
}
.fa.fa-quote-right{
	color:#005392;
}

.why{
	width:100%;
	height:570px;
}
.why .why-img{
	width:47%;
	height:100%;
	float: right;
}
.why .left{
	width:42%;
	height:570px;
	margin-left:10%;
	text-align: justify;
}
.why .left .ptry{
	color:white;
}
.why .left .h1left{
	font-family: 'Playfair Display', serif;
	color:#005392;
	font-weight:bold;
	font-size:44px;
	margin-top:180px;
	letter-spacing:2px;
}
.why .left .pleft{
	color:#000;
	line-height:24px;
	font-size:17.7px;
	margin-right:5%;
}

.para{
	margin-top:7%;
	text-align:center;
	font-size:22px;
	line-height:30px;
}
.pquote{
	text-align:center;
	font-family: 'Playfair Display', serif;
	font-size:24px;
	color:#005392;
	font-weight:bold;
	line-height:45px;
}
.padd{
	text-align:center;
	font-weight:bold;
	line-height:4px;
	font-family: 'Playfair Display', serif;
}

@media screen and (min-width: 2000px){
	.about-banners{
	background: url(../images/banner1.png);
	height:130vh;
	width:100%;
	background-size:cover;
	overflow:hidden;
	position:relative;
}
.about-banners .waves{
	position:absolute;
	bottom:0;
	width:100%;
	left:0;
}
.navbar nav{
	width:100%;
	height:90px;
	background-color:none;
	line-height:90px;
}
.navbar .logo{
	width:13%;
	margin-left:10%;
	margin-top:20px;
}
.navbar nav ul{
	float:right;
	margin-right:10%;
}
.navbar nav ul li{
	list-style-type:none;
	display:inline-block;
}
.navbar nav ul li a{
	text-decoration:none;
	color:#fff;
	padding:10px;
	font-weight:bold;
	font-size:24px;
}
#nav-toggle{
	position:absolute;
	top:-100px;
}
.navbar nav .icon-burger{
	display:none;
	position: absolute;
	right:5%;
	top:4%;
	transform:translateY(-50%);
}
.navbar nav .icon-burger .line{
	width:25px;
	height:3px;
	background-color:#fff;
	margin:5px;
	border-radius:3px;
	transition: all .5s ease-in-out
}

.banner-text .main-header{
	font-family: 'Playfair Display', serif;
	color:#fff;
	font-size:68px;
	margin-left:10%;
	margin-top:17%;
}
.shape2{
	width:6%;
	float:right;
	margin-top:15%;
	display:none;
}
.shape1{
	width:11%;
	margin-left:13%;
	margin-top:18%;

}
.container{
	width:100%;
	height:530px;
	background-color:#B0CB1F
}
.container .content{
	text-align: justify;
}
.container .content .h1{
	font-family: 'Playfair Display', serif;
	margin-left:10%;
	color:#fff;
	font-weight:bold;
	font-size:58px;
}
.container .content .p{
	margin-left:10%;
	margin-right:10%;
	color:#fff;
	line-height:40px;
	font-size:30px;
}
.fa.fa-quote-left{
	color:#005392;
}
.fa.fa-quote-right{
	color:#005392;
}

.why{
	width:100%;
	height:570px;
}
.why .why-img{
	width:47%;
	height:930px;
	float: right;
}
.why .left{
	width:42%;
	height:570px;
	margin-left:10%;
	text-align: justify;
}
.why .left .ptry{
	color:white;
}
.why .left .h1left{
	font-family: 'Playfair Display', serif;
	color:#005392;
	font-weight:bold;
	font-size:58px;
	margin-top:180px;
}
.why .left .pleft{
	color:#000;
	line-height:40px;
	font-size:30px;
	margin-right:5%;
}

.para{
	margin-top:18%;
	text-align:center;
	font-size:40px;
	line-height:50px;
}
.pquote{
	text-align:center;
	font-family: 'Playfair Display', serif;
	font-size:50px;
	color:#005392;
	font-weight:bold;
	line-height:70px;
}
.padd{
	text-align:center;
	font-weight:bold;
	line-height:40px;
	font-family: 'Playfair Display', serif;
	font-size:30px;
}

}



@media screen and (max-width: 768px){
	.about-banners{
		background: url(../images/banner.png);
		height:100vh;
		background-size:cover;
		overflow:hidden;
		position:relative;
	}
	.navbar .logo{
		width:30%;
		margin-left:10%;
		margin-top:20px;
	}
	.navbar nav ul{
		float:none;
		position:fixed;
		left:0;
		right:0;
		top:0;
		bottom:100%;
		width:100%;
		height:auto;
		display:flex;
		flex-direction:column;
		text-align:center;
		background-color: rgba(0,0,0,.9);
		overflow:hidden;
		transition: all .5s ease-in-out
	}
	.navbar nav ul li a{
		font-size: 14px;
	}
	.navbar nav .icon-burger{
		display:block;
	}
	.navbar nav :checked ~ ul{
		bottom:0;
	}
	.navbar nav :checked ~ .icon-burger .line:nth-child(1){
		transform: translateY(8px) rotate(225deg);
	}
	.navbar nav :checked ~ .icon-burger .line:nth-child(3){
		transform: translateY(-8px) rotate(-225deg);
	}
	.navbar nav :checked ~ .icon-burger .line:nth-child(2){
		opacity:0;
	}
	.banner-text .main-header{
	font-family: 'Playfair Display', serif;
	color:#fff;
	font-size:40px;
	margin-left:10%;
	margin-top:35%;
}
.container{
	width:100%;
	height:490px;
	background-color:#B0CB1F
}
.container .content .h1{
	font-family: 'Playfair Display', serif;
	margin-left:10%;
	color:#fff;
	font-weight:bold;
	font-size:24px;
}
.container .content .p{
	margin-left:10%;
	margin-right:10%;
	color:#fff;
	line-height:16px;
	font-size:12px;
	justify-content:center;
	align-items:center;
}
.why{
	width:100%;
	height:170px;

}
.why .why-img{
	width:47%;
	height:170px;
	float: right;
	display:none;
}
.why .left{
	width:80%;
	height:170px;
	margin-left:10%;
}
.why .left .ptry{
	color:white;
}
.why .left .h1left{
	font-family: 'Playfair Display', serif;
	color:#005392;
	font-weight:bold;
	font-size:24px;
	margin-top:10px;
}
.why .left .pleft{
	color:#000;
	line-height:16px;
	font-size:12px;
}
.para{
	margin-top:25%;
	margin-left:9%;
	margin-right:9%;
	text-align:center;
	font-size:12px;
	line-height:16px;
}
.pquote{
	text-align:center;
	font-family: 'Playfair Display', serif;
	font-size:14px;
	color:#005392;
	font-weight:bold;
	line-height:35px;
}
.padd{
	text-align:center;
	font-weight:bold;
	line-height:4px;
	font-size:12px;
	font-family: 'Playfair Display', serif;
}

}
