@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
.about-banners{
	background: url(../images/OpportunityBanner.jpg);
	height:130vh;
	width:100%;
	background-size:cover;
	overflow:hidden;
	position:relative;
}
.about-banners .waves{
	position:absolute;
	bottom:0;
	width:100%;
	left:0;
}
.navbar nav{
	width:100%;
	height:90px;
	background-color:none;
	line-height:90px;
}
.navbar .logo{
	width:13%;
	margin-left:10%;
	margin-top:20px;
}
.navbar nav ul{
	float:right;
	margin-right:10%;
}
.navbar nav ul li{
	list-style-type:none;
	display:inline-block;
}
.navbar nav ul li a{
	text-decoration:none;
	color:#fff;
	padding:10px;
	font-weight:bold;
}
#nav-toggle{
	position:absolute;
	top:-100px;
}
.navbar nav .icon-burger{
	display:none;
	position: absolute;
	right:5%;
	top:4%;
	transform:translateY(-50%);
}
.navbar nav .icon-burger .line{
	width:25px;
	height:3px;
	background-color:#fff;
	margin:5px;
	border-radius:3px;
	transition: all .5s ease-in-out
}

.banner-text .main-header{
	font-family: 'Playfair Display', serif;
	color:#fff;
	font-size:42px;
	margin-left:10%;
	margin-top:17%;
}
.shape2{
	width:6%;
	float:right;
	margin-top:15%;
}
.shape1{
	width:11%;
	margin-left:13%;
	margin-top:18%;
	
}
.container{
	width:100%;
	height:auto;
	background-color:#fff;
}
.container .content{
	text-align: justify;
}
.container .content .h1{
	font-family: 'Playfair Display', serif;
	margin-left:10%;
	color:#005392;
	font-weight:bold;
	font-size:44px;
	letter-spacing:1.7px;
}
.container .content .p{
	margin-left:10%;
	margin-right:10%;
	color:#000;
	line-height:26px;
	font-size:17.7px;
	font-weight:medium;
}
.para{
	margin-top:7%;
	text-align:center;
	font-size:22px;
	line-height:30px;
}
.pquote{
	text-align:center;
	font-family: 'Playfair Display', serif;
	font-size:24px;
	color:#005392;
	font-weight:bold;
	line-height:45px;
}
.padd{
	text-align:center;
	font-weight:bold;
	line-height:4px;
	font-family: 'Playfair Display', serif;
}
.fa.fa-quote-left,.fa.fa-quote-right{
	color:#005392;
}

.information{
	background-color:#005392;
	width:100%;
	height:230px;
	margin-top:5%;
	display:flex;
	flex-direction:row;
}
.information .content-left{
	margin-left:10%;
	margin-top:50px;
	width:39%;
}
.information .content-left .h2{
	font-family: 'Playfair Display', serif;
	margin-left:10%;
	color:#B0CB1F;
	font-weight:bold;
	font-size:38px;
}
.information .content-left .p2{
	margin-left:10%;
	margin-right:10%;
	color:#fff;
	line-height:26px;
	font-size:17.7px;
	font-weight:bold;
}
.information .content-right{
	margin-right:10%;
	margin-left:5%;
	width:37%;
	margin-top:100px;
}
.information .content-right .text-box{
  background-color: #fff;
  color: #000;
  border: none;
  width: 314px;
  height: 45px;
  padding: 12px;
  font-size: 15px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  opacity: 0.9;
}
.information .content-right .send-btn{
  float: right;
  background-color: #000;
  color: #fff;
  border: none;
  width: 100px;
  height: 45px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  transition-property: background;
  margin-right:10%;
}

.information .content-right .send-btn:hover{
  background: #B0CB1F;
}

@media screen and (min-width: 2000px){
	.about-banners{
	background: url(../images/OpportunityBanner.jpg);
	height:130vh;
	width:100%;
	background-size:cover;
	overflow:hidden;
	position:relative;
}
.about-banners .waves{
	position:absolute;
	bottom:0;
	width:100%;
	left:0;
}
.navbar nav{
	width:100%;
	height:90px;
	background-color:none;
	line-height:90px;
}
.navbar .logo{
	width:13%;
	margin-left:10%;
	margin-top:20px;
}
.navbar nav ul{
	float:right;
	margin-right:10%;
}
.navbar nav ul li{
	list-style-type:none;
	display:inline-block;
}
.navbar nav ul li a{
	text-decoration:none;
	color:#fff;
	padding:10px;
	font-weight:bold;
	font-size:24px;
}
#nav-toggle{
	position:absolute;
	top:-100px;
}
.navbar nav .icon-burger{
	display:none;
	position: absolute;
	right:5%;
	top:4%;
	transform:translateY(-50%);
}
.navbar nav .icon-burger .line{
	width:25px;
	height:3px;
	background-color:#fff;
	margin:5px;
	border-radius:3px;
	transition: all .5s ease-in-out
}

.banner-text .main-header{
	font-family: 'Playfair Display', serif;
	color:#fff;
	font-size:72px;
	margin-left:10%;
	margin-top:17%;
}
.shape2{
	width:6%;
	float:right;
	margin-top:15%;
	display:none;
}
.shape1{
	width:11%;
	margin-left:13%;
	margin-top:18%;
	
}
.container{
	width:100%;
	height:auto;
	background-color:#fff;
}
.container .content{
	text-align: justify;
}
.container .content .h1{
	font-family: 'Playfair Display', serif;
	margin-left:10%;
	color:#005392;
	font-weight:bold;
	font-size:64px;
}
.container .content .p{
	margin-left:10%;
	margin-right:10%;
	color:#000;
	line-height:44px;
	font-size:30px;
	font-weight:medium;
}
.para{
	margin-top:7%;
	text-align:center;
	font-size:40px;
	line-height:50px;
}
.pquote{
	text-align:center;
	font-family: 'Playfair Display', serif;
	font-size:50px;
	color:#005392;
	font-weight:bold;
	line-height:70px;
}
.padd{
	text-align:center;
	font-weight:bold;
	line-height:40px;
	font-size:30px;
	font-family: 'Playfair Display', serif;
}
.fa.fa-quote-left,.fa.fa-quote-right{
	color:#005392;
}

.information{
	background-color:#005392;
	width:100%;
	height:330px;
	margin-top:5%;
	display:flex;
	flex-direction:row;
}
.information .content-left{
	margin-left:10%;
	margin-top:50px;
	width:39%;
}
.information .content-left .h2{
	font-family: 'Playfair Display', serif;
	margin-left:10%;
	color:#B0CB1F;
	font-weight:bold;
	font-size:58px;
}
.information .content-left .p2{
	margin-left:10%;
	margin-right:10%;
	color:#fff;
	line-height:50px;
	font-size:30px;
	font-weight:bold;
}
.information .content-right{
	margin-right:10%;
	margin-left:5%;
	width:37%;
	margin-top:100px;
}
.information .content-right .text-box{
  background-color: #fff;
  color: #000;
  border: none;
  width: 614px;
  height: 85px;
  padding: 12px;
  font-size: 30px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  opacity: 0.9;
}
.information .content-right .send-btn{
  float: right;
  background-color: #000;
  color: #fff;
  border: none;
  width: 200px;
  height: 85px;
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  transition-property: background;
  margin-right:10%;
}

.information .content-right .send-btn:hover{
  background: #B0CB1F;
}
}



@media screen and (max-width: 768px){
	.about-banners{
		background: url(../images/OpportunityBanner1.png);
		height:100vh;
		background-size:cover;
		overflow:hidden;
		position:relative;
	}
	.navbar .logo{
		width:30%;
		margin-left:10%;
		margin-top:20px;
	}
	.navbar nav ul{
		float:none;
		position:fixed;
		left:0;
		right:0;
		top:0;
		bottom:100%;
		width:100%;
		height:auto;
		display:flex;
		flex-direction:column;
		text-align:center;
		background-color: rgba(0,0,0,.9);
		overflow:hidden;
		transition: all .5s ease-in-out
	}
	.navbar nav ul li a{
		font-size: 14px;
	}
	.navbar nav .icon-burger{
		display:block;
	}
	.navbar nav :checked ~ ul{
		bottom:0;
	}
	.navbar nav :checked ~ .icon-burger .line:nth-child(1){
		transform: translateY(8px) rotate(225deg);
	}
	.navbar nav :checked ~ .icon-burger .line:nth-child(3){
		transform: translateY(-8px) rotate(-225deg);
	}
	.navbar nav :checked ~ .icon-burger .line:nth-child(2){
		opacity:0;
	}
	.banner-text .main-header{
	font-family: 'Playfair Display', serif;
	color:#fff;
	font-size:30px;
	margin-left:8%;
	margin-right:8%
	margin-top:35%;
}
.container{
	width:100%;
	height:auto;
	background-color:#fff;
}

.container .content .h1{
	font-family: 'Playfair Display', serif;
	margin-left:10%;
	margin-right:10%;
	color:#005392;
	font-weight:bold;
	font-size:24px;
}
.container .content .p{
	margin-left:10%;
	margin-right:10%;
	color:#000;
	line-height:16px;
	font-size:12px;
	justify-content:center;
	align-items:center;
	font-weight:medium;
}

.para{
	margin-top:10%;
	margin-left:9%;
	margin-right:9%;
	text-align:center;
	font-size:12px;
	line-height:16px;
}
.pquote{
	text-align:center;
	font-family: 'Playfair Display', serif;
	font-size:14px;
	color:#005392;
	font-weight:bold;
	line-height:35px;
}
.padd{
	text-align:center;
	font-weight:bold;
	line-height:4px;
	font-size:12px;
	font-family: 'Playfair Display', serif;
}
.information{
	background-color:#005392;
	width:100%;
	height:auto;
	margin-top:5%;
	display:flex;
	flex-direction:column;
}
.information .content-left{
	margin-left:3%;
	margin-right:3%;
	margin-top:30px;
	width:80%;
}
.information .content-left .h2{
	font-family: 'Playfair Display', serif;
	color:#B0CB1F;
	font-weight:bold;
	font-size:20px;
}
.information .content-left .p2{
	color:#fff;
	line-height:16px;
	font-size:14px;
	font-weight:medium;
}
.information .content-right{
	margin-right:10%;
	margin-left:10%;
	width:80%;
	margin-top:20px
}
.information .content-right .text-box{
  background-color: #fff;
  margin-left:3%;
  color: #000;
  border: none;
  width: 165px;
  height: 25px;
  padding: 12px;
  font-size: 12px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  opacity: 0.9;
}
.information .content-right .send-btn{
  float: right;
  background-color: #000;
  color: #fff;
  border: none;
  width: 75px;
  height: 25px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  transition-property: background;
  margin-right:3%;
}

}