@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
.about-banners{
	background: url(../images/ProductsBanner.png);
	height:130vh;
	width:100%;
	background-size:cover;
	overflow:hidden;
	position:relative;
}
.about-banners .waves{
	position:absolute;
	bottom:0;
	width:100%;
	left:0;
}
.navbar nav{
	width:100%;
	height:90px;
	background-color:none;
	line-height:90px;
}
.navbar .logo{
	width:13%;
	margin-left:8%;
	margin-top:20px;
}
.navbar nav ul{
	float:right;
	margin-right:8%;
}
.navbar nav ul li{
	list-style-type:none;
	display:inline-block;
}
.navbar nav ul li a{
	text-decoration:none;
	color:#fff;
	padding:10px;
	font-weight:bold;
}
#nav-toggle{
	position:absolute;
	top:-100px;
}
.navbar nav .icon-burger{
	display:none;
	position: absolute;
	right:5%;
	top:4%;
	transform:translateY(-50%);
}
.navbar nav .icon-burger .line{
	width:25px;
	height:3px;
	background-color:#fff;
	margin:5px;
	border-radius:3px;
	transition: all .5s ease-in-out
}

.banner-text .main-header{
	font-family: 'Playfair Display', serif;
	color:#fff;
	font-size:42px;
	margin-left:8%;
	margin-top:17%;
}
.shape2{
	width:6%;
	float:right;
	margin-top:15%;
}
.shape1{
	width:11%;
	margin-left:13%;
	margin-top:18%;
	
}
.container3{
	width:100%;
	height:350px;
	background-color:#B0CB1F;
	display:flex;
	flex-direction:row;
}

.cards3{
	width:22.66%;
	height:250px;
	background-color:#fff;
	margin-top:3%;
	margin-left:8%;
}
.cards3 .pharma{
	background: url(../images/pexels.jpg);
	height:250px;
	background-size:cover;
	overflow:hidden;
	position:relative;
}
.cards3 .tank{
	background: url(../images/tank.png);
	height:250px;
	background-size:cover;
	overflow:hidden;
	position:relative;
}
.cards3 .plant{
	background: url(../images/plant.png);
	height:250px;
	background-size:cover;
	overflow:hidden;
	position:relative;
}
.box{
	width:100%;
	background-color:#005392;
	opacity:0.8;
	height:70px;
	margin-top:180px;
}
.p{
	font-weight:bold;
	font-size:19px;
	line-height:24px;
	color:#fff;
	text-align:center;
	padding:10px;
}
.head{
	font-family: 'Playfair Display', serif;
	color:#000;
	font-weight:bold;
	font-size:44px;
	text-align:center;
}
.container-img{
	width:100%;
	height:50px;
}
.img-set{
	background-color:#B0CB1F;
	width:100%;
	height:50px;
}
.img{
	width:9%;
	float:right;
	margin-right:2%;
}

.container2{
	background-color:#fff;
	width:100%;
	height:auto;
	display:flex;
	flex-direction:row;
	margin-top:3%;
}
.cards2{
	width:22.66%;
	height:350px;
	background-color:#fff;
	margin-top:3%;
	margin-left:8%;
	display:flex;
	flex-direction:column;
}
.image{
	width:100%;
	background-color:#fff;
	border:none;
}
.text{
	width:100%;
	height:150px;
	background-color:#fff;
	border:none;
}
.text h3{
	font-weight:bold;
	font-family: 'Playfair Display', serif;
	letter-spacing:1.7px;
}
.image img{
	width:100%;
	padding:10px;
	height:200px;
}
.text h3{
	padding:5px;
	color:#000;
	font-size:18px;
}
.text p{
	padding:5px;
	color:#000;
	text-align: justify;
	line-height: 22px;
	font-size:14px;
}
.icon{
	float:right;
	margin-top:2%;
	margin-left:75%;
}
.icon-link{
	color:#525252;
	font-size:40px;
}

@media screen and (min-width: 2000px){
	.about-banners{
	background: url(../images/ProductsBanner.png);
	height:130vh;
	width:100%;
	background-size:cover;
	overflow:hidden;
	position:relative;
}
.about-banners .waves{
	position:absolute;
	bottom:0;
	width:100%;
	left:0;
}
.navbar nav{
	width:100%;
	height:90px;
	background-color:none;
	line-height:90px;
}
.navbar .logo{
	width:13%;
	margin-left:8%;
	margin-top:20px;
}
.navbar nav ul{
	float:right;
	margin-right:8%;
}
.navbar nav ul li{
	list-style-type:none;
	display:inline-block;
}
.navbar nav ul li a{
	text-decoration:none;
	color:#fff;
	padding:10px;
	font-weight:bold;
	font-size:24px;
}
#nav-toggle{
	position:absolute;
	top:-100px;
}
.navbar nav .icon-burger{
	display:none;
	position: absolute;
	right:5%;
	top:4%;
	transform:translateY(-50%);
}
.navbar nav .icon-burger .line{
	width:25px;
	height:3px;
	background-color:#fff;
	margin:5px;
	border-radius:3px;
	transition: all .5s ease-in-out
}

.banner-text .main-header{
	font-family: 'Playfair Display', serif;
	color:#fff;
	font-size:70px;
	margin-left:8%;
	margin-top:17%;
}
.shape2{
	width:6%;
	float:right;
	margin-top:15%;
	display:none;
}
.shape1{
	width:11%;
	margin-left:13%;
	margin-top:18%;
	
}
.container3{
	width:100%;
	height:60%;
	background-color:#B0CB1F;
	display:flex;
	flex-direction:row;
}

.cards3{
	width:22.66%;
	height:65%;
	background-color:#fff;
	margin-top:3%;
	margin-left:8%;
}
.cards3 .pharma{
	background: url(../images/pexels.jpg);
	height:100%;
	background-size:cover;
	overflow:hidden;
	position:relative;
}
.cards3 .tank{
	background: url(../images/tank.png);
	height:100%;
	background-size:cover;
	overflow:hidden;
	position:relative;
}
.cards3 .plant{
	background: url(../images/plant.png);
	height:100%;
	background-size:cover;
	overflow:hidden;
	position:relative;
}
.box{
	width:100%;
	background-color:#005392;
	opacity:0.8;
	height:30%;
	margin-top:60%;
}
.p{
	font-weight:bold;
	font-size:26px;
	line-height:24px;
	color:#fff;
	text-align:center;
	padding:10px;
}
.container2{
	background-color:#fff;
	width:100%;
	height:auto;
	display:flex;
	flex-direction:row;
	margin-top:5%;
}
.cards2{
	width:22.66%;
	height:80%;
	background-color:#fff;
	margin-top:3%;
	margin-left:8%;
	display:flex;
	flex-direction:column;
}
.image{
	width:100%;
	background-color:#fff;
	border:none;
}
.text{
	width:100%;
	height:150px;
	background-color:#fff;
	border:none;
}
.text h3{
	font-weight:bold;
	font-family: 'Playfair Display', serif;
	letter-spacing:1.7px;
}
.image img{
	width:90%;
	padding:10px;
	height:auto;
}
.text h3{
	padding:5px;
	color:#000;
	font-size:32px;
}
.text p{
	padding:5px;
	color:#000;
	text-align: justify;
	line-height: 36px;
	font-size:26px;
}
.icon{
	float:right;
	margin-top:2%;
	margin-left:75%;
}
.icon-link{
	color:#525252;
	font-size:70px;
}
}



@media screen and (max-width: 768px){
	.about-banners{
		background: url(../images/ProductsBanner1.png);
		height:100vh;
		background-size:cover;
		overflow:hidden;
		position:relative;
	}
	.navbar .logo{
		width:30%;
		margin-left:10%;
		margin-top:20px;
	}
	.navbar nav ul{
		float:none;
		position:fixed;
		left:0;
		right:0;
		top:0;
		bottom:100%;
		width:100%;
		height:auto;
		display:flex;
		flex-direction:column;
		text-align:center;
		background-color: rgba(0,0,0,.9);
		overflow:hidden;
		transition: all .5s ease-in-out
	}
	.navbar nav ul li a{
		font-size: 14px;
	}
	.navbar nav .icon-burger{
		display:block;
	}
	.navbar nav :checked ~ ul{
		bottom:0;
	}
	.navbar nav :checked ~ .icon-burger .line:nth-child(1){
		transform: translateY(8px) rotate(225deg);
	}
	.navbar nav :checked ~ .icon-burger .line:nth-child(3){
		transform: translateY(-8px) rotate(-225deg);
	}
	.navbar nav :checked ~ .icon-burger .line:nth-child(2){
		opacity:0;
	}
	.banner-text .main-header{
	font-family: 'Playfair Display', serif;
	color:#fff;
	font-size:30px;
	margin-left:8%;
	margin-right:8%;
	margin-top:30%;
}
.container3{
	width:100%;
	height:auto;
	background-color:#B0CB1F;
	display:flex;
	flex-direction:column;
}

.cards3{
	width:80%;
	height:250px;
	background-color:#fff;
	margin-top:5%;
	margin-left:10%;
}
.cards3 .pharma{
	background: url(../images/pexels.jpg);
	height:250px;
	background-size:cover;
	overflow:hidden;
	position:relative;
}
.cards3 .tank{
	background: url(../images/tank.png);
	height:250px;
	background-size:cover;
	overflow:hidden;
	position:relative;
}
.cards3 .plant{
	background: url(../images/plant.png);
	height:250px;
	background-size:cover;
	overflow:hidden;
	position:relative;
}
.box{
	width:100%;
	background-color:#005392;
	opacity:0.8;
	height:70px;
	margin-top:180px;
}
.p{
	font-weight:bold;
	font-size:16px;
	line-height:24px;
	color:#fff;
	text-align:center;
	padding:10px;
}
.container-img{
	width:100%;
	height:50px;
}
.img-set{
	background-color:#B0CB1F;
	width:100%;
	height:50px;
}
.img{
	width:9%;
	float:right;
	margin-right:2%;
	display:none;
}
.container2{
	background-color:#fff;
	width:100%;
	height:auto;
	display:flex;
	flex-direction:column;
	margin-top:5%;
}
.cards2{
	width:80%;
	height:410px;
	background-color:#000;
	margin-top:5%;
	margin-left:8%;
	display:flex;
	flex-direction:column;
}
.image{
	width:100%;
	background-color:#fff;
	border:none;
	text-align:center;
}
.text{
	width:100%;
	height:260px;
	background-color:#fff;
	border:none;
	text-align:center;
}
.text h3{
	font-weight:bold;
}
.image img{
	width:90%;
	padding:10px;
	height:auto;
}
.icon{
	float:right;
	margin-top:2%;
	margin-left:55%;
}
.icon-link{
	color:#525252;
	font-size:28px;
}
}
